[
 {queue_workers,
     [{data_sources, [
        %% Erlang memory database table queue
         {ets, [% Example 1
                [{table_name, example_ets_job_table},     % Ets table name to use
                 {worker_module, example_ets_job_worker}, % Worker module where to work is specified
                 {worker_count, 5}                        % number of workers allowed to read from table
                ]
         ]},

	{ets, [% Example 2
                [{table_name, another_example_ets_job_table}, % Ets table name to use
                 {worker_module, example_ets_job_worker},     % Worker module where to work is specified
                 {worker_count, 5}                            % number of workers allowed to read from table
                ]
         ]},

         %% Mnesia Example
	%% TODO:

         %% RabbitMq queue
         {rabbitmq,[
            {example_rabbitmq,
                [{name, queue_workers_rabbitmq_consumer},
                 {amqp, [
                    {consume_type, consume},
                    {consume_worker_mod, queue_workers_rabbitmq_worker},
                    {routing_key, <<"xxx">>},
                    {consume, [
                        {no_ack, false},
                        {exclusive, false},
                        {nowait, false},
                        {arguments, []}
                    ]},
                    {connection, [
                        {type, network},
                        {username, <<"root">>},
                        {passwd, <<"root">>},
                        {vhost, <<"/">>},
                        {host, "localhost"},
                        {port, 5672}
                    ]},
                    {exchange,[
                        {exchange, <<"queue_workers">>},
                        {type, <<"direct">>},
                        {durable, true}
                    ]},
                    {queue, [
                        {ticket, 0},
                        {queue, <<"queue_workers_jobs">>},
                        {passive, false},
                        {durable, true},
                        {exclusive, false},
                        {auto_delete, false},
                        {nowait, false},
                        {arguments, []}
                    ]}
                 ]}
                ]
            }
         ]}
     ]}]
 },

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].